<%- include ../layout/header %>

<center><div class="alert">请输入您要设定的密码<%if(message){ %><br/><br/><%= message %><% } %></div></center>
<div class="login_content">
    <table class="login">
        <form method="post" action="/access/reset_password">
            <tbody>
            <tr height="10">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="t01"><label for="password">密码：</label></td>
                <td class="t02">
                    <input class="post_name" type="password" name="password" id="password" />
                    <input class="post_name" type="hidden" name="email" id="email" value="<%= name %>" />
                </td>
            </tr>
            <tr>
                <td class="t01"><label for="rp_password">密码确认：</label></td>
                <td class="t02">
                    <input class="post_name" type="password" name="rp_password" id="rp_password" />
                </td>
            </tr>
            <tr height="10">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="t01"></td>
                <td class="t03"><button onmouseout="this.className='button_submit_s';" onmouseover="this.className='button_submit_s button_submit_s_hover';" type="submit" class="button_submit_s"> 设置密码 </button></td>
            </tr>
            </tbody>
        </form>
    </table>
</div>
<%- include ../layout/footer %>
