<table class="grid_order">
<form method="post">
  <tbody>
    <tr>
      <td width="10%">Email:</td>
      <td width="50%" align="center"><input  size="30" type="text" name="email" id="email"/></td>
    </tr>
    <tr>
      <td width="10%">名称:</td>
      <td width="50%" align="center"><input  size="30" type="text" name="name" id="name"/></td>
    </tr>
    <tr>
      <td width="10%">密码:</td>
      <td width="50%" align="center"><input  size="30" type="password" name="password" id="password"/></td>
    </tr>
    <tr>
      <td width="10%" >密码确认:</td>
      <td width="50%" align="center"><input  size="30" type="password" name="rp_password" id="rp_password"/></td>
    </tr>
    <tr>
      <td width="10%" >角色:</td>
      <td width="50%" align="center">
        <select name="role" id="role">
           <option value ="user" selected="true">用&nbsp;&nbsp;&nbsp;户</option>
           <option value ="admin">管理员</option>
        </select>
      </td>
    </tr>
    <tr>
      <td width="10%"></td>
      <td width="50%"><button onmouseout="this.className='button_submit_s';" onmouseover="this.className='button_submit_s button_submit_s_hover';" type="submit" class="button_submit_s"> 提交 </button></td>
    </tr>
    </tbody>
</form>
</table>